* {
  padding: 0;
  margin: 0;
  border: 0;
}

*
.pagInicio {
  background-image: url(../img/familia.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -73px;
}

.clientesNuestros {
  font-family: 'Merriweather', serif;
  padding: 8px;
  margin: 77px 75px 37px 93px;
  color: #090105;
  background-color: #fdfdfd91;
  font-size: xx-large;
  font-style: italic;
  border: 16px #15070e double;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  text-align: center;
}

.parrafitoUno {
  color: #de3076;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fdfdfd61;
  text-align: center;
  font-size: larger;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 87px;
}

.palabrasInicio {
  color: #de3076;
  border: 6px solid black;
  font-family: 'Merriweather', serif;
  background-color: #fdfdfd61;
  text-align: center;
  margin: 2px 81px 61px 768px;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

iframe {
  margin: -168px -42px 150px 45px;
  height: 179px;
  width: 314px;
}

.footImag {
  width: 235px;
  height: 199px;
  margin: 46px 45px 3px 74px;
}

.footInicio {
  padding: 1px;
  margin: 0px;
  background-color: #ada3c7;
  border: 10px solid #000;
}

h5 {
  color: #b30b4a;
  border: 6px solid #11080e;
  font-size: medium;
  padding: 4px;
  text-align: center;
  margin: 75px;
}

.camaras, .alaRmas, .monitoreo, .conTacto {
  color: #b30b4a;
  border: #000000 double 10px;
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
  margin: auto;
}

.maPa {
  margin: -49px 72px 42px 692px;
}

.fondoCamaras {
  background-image: url(../img/fondocamaras2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  margin-top: 10px;
  border-radius: 10px;
  border: solid 6px #a70e7a;
}

.grid-item1, .grid-item2,
.grid-item3, .grid-item4, .grid-item5, .grid-item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #4a4f5176;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.grid-item1:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-item2:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-item3:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-item4:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-item5:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-item6:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (mimax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, mimax(250px, 1fr));
  grid-auto-rows: mimax 200px, auto;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
}

.camUno, .camDos, .camTres, .camCuatro, .camCinco, .camSeis {
  color: #000000f5;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  border: #fcffff solid 5px;
  margin: 5px 38px 35px 2px;
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6 {
  border: #000000 10px solid;
}

.imagUno, .imagDos,
.imagTres, .imagCuatro,
.imagCinco, .imagSeis {
  width: 119px;
  height: 95px;
  margin: 37px 15px 76px 18px;
  border: #000000 5px solid;
}

.gridPadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (mimax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, mimax(250px, 1fr));
  grid-auto-rows: mimax 200px, auto;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 200px;
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url(../img/fondoalarmas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gridUno, .gridDos, .gridTres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #4a4f5176;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gridUno:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.gridDos:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.gridTres:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.parrafUno, .parrafDos, .parrafTres {
  color: #000000f5;
  font-family: "Courier New", Courier;
  font-weight: bolder;
  border: #fcffff solid 5px;
  margin: 5px 38px 35px 2px;
}

.alarmaUno, .alarmaDos,
.alarmaTres {
  width: 119px;
  height: 95px;
  margin: 37px 15px 76px 18px;
  border: #000000 5px solid;
}

.pagMonitoreo {
  background-image: url(../img/operadores-de-monitoreo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20%;
  margin: 4px 1px 2px 1px;
}

.infoMoni {
  background-color: #00000061;
  color: antiquewhite;
  border: 4px solid #746c6c;
  font-size: larger;
  font-style: italic;
  text-align: justify;
  padding: 10px;
}

.monitoreoTwo {
  height: 710px;
  width: 1349px;
}

.footerMoni {
  background-color: #0000009e;
  border: solid 4px #e049b8;
  margin-top: 2px;
  padding: 1%;
  color: white;
  text-align: center;
}

.moniToreo {
  font-size: medium;
}

.infoMoni:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footDos, .footContacto {
  background-color: #312d2d9c;
  border: #a24887 solid 5px;
  margin: 4px;
}

.footImagdos, .footImagdoscontac {
  width: 175px;
  height: 166px;
  margin: 24px 3px 1px 556px;
}

.footImagcctv {
  width: 235px;
  height: 199px;
  margin: 30px 72px 7px 528px;
}

@media (max-width: 400px) {
  .palabrasInicio {
    margin: 2px 93px 9px 80px;
  }
  .maPa {
    margin: 27px 4px 4px 1px;
  }
  .footImag {
    margin: 29px 78px 196px 56px;
  }
  .videoSecu {
    margin: 197px 10px 12px 10px;
  }
  .gridUno, .gridDos, .gridTres {
    padding: 1px;
    margin: -182px -40px 174px -210px;
  }
  .monitoreoTwo {
    height: 400px;
    width: 401px;
  }
  .footImagdoscontac {
    margin: 33px 3px 1px 61px;
  }
  .footContacto {
    margin: 1px;
    padding: 62px;
  }
}

@media (max-width: 768px) {
  .palabrasInicio {
    margin: 2px 77px 9px 485px;
  }
  .maPa {
    margin: 0px 53px 29px 322px;
  }
  .footImag {
    width: 260px;
    height: 216px;
    margin: 46px 44px 3px 39px;
  }
  .footImagdoscontac {
    width: 175px;
    height: 166px;
    margin: 33px 3px 1px 192px;
  }
}

@media (max-width: 1023px) {
  .palabrasInicio {
    margin: 2px 81px 61px 744px;
  }
  .maPa {
    margin: -33px 72px 42px 581px;
  }
  .monitoreoTwo {
    height: 710px;
    width: 1021px;
  }
  .footContacto {
    padding: 71px;
  }
  .footImagdoscontac {
    margin: 24px 3px 1px 385px;
  }
}
/*# sourceMappingURL=style.css.map */